/* <!-- DEAR PROFESSOR, IF YOU ARE READING THIS, I AM SORRY, THIS CODE HAS A LOT OF TRASH CODES THAT DOESNT MAKE IT TO THE FINAL -->
<!-- DRAFT. FOR YOUR CONVENIENCE, ALL OF THE CODES HAVE BEEN BEAUTIFIED FOR EASY READING. ALSO HALFWAY OF DOING THIS, I JUST -->
<!-- REALIZED THAT IMG SOURCES THAT ARE PUT INSIDE CSS FILES CANNOT BE ON TOP OF THE DIRECTORY OF THE CSS FILE. -->
<!-- I WILL USE A BETTER HABIT NEXT TIME. 22229515 BENEDICTUS SEBASTIAN AP "CONRADIUM"--> */
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@keyframes animateReminder {
  0%,
  100% {
    width: 0px;
    height: 30px;
  }
  20%,
  80% {
    width: 400px;
    height: 30px;
  }
  30%,
  70% {
    width: 400px;
    height: 120px;
  }
}
@keyframes colorChange {
  from {
    background-color: #558b2f;
  }
  to {
    background-color: #ffc107;
  }
}
#reminderContainer {
  width: 0px;
  height: 0px;
  max-height: 1000px;
  z-index: 4;

  position: absolute;
  top: 100px;
  left: 0px;
  overflow: hidden;
  color: white;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 0px 20px #ffffff;
  animation: animateReminder 10s 0s 1;
}
#reminderHeader {
  width: 400px;
  height: 32px;
  background-color: #ffc107;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  animation: colorChange 5s 0s 1;
}
#reminderContent {
  width: 400px;
  height: 100px;
  background: white;
  position: relative;
  overflow: hidden;
  color: white;
  font-size: 25px;
}

#reminderContentText {
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: hsl(0, 0%, 12%);
  --first-color-shape: #ef5d60;
  --title-color: hsl(0, 0%, 17%);
  --text-color: hsl(273, 4%, 45%);
  --body-color: hsl(273, 100%, 99%);
  --container-color: #fff;
  --title-color-dark: hsl(0, 100%, 98%);
  --text-color-dark: hsl(0, 0%, 100%);
  --container-color-dark: #7a0002;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  /* A3333D */
  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: inherit;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container-gallery {
  max-width: inherit;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 767px) {
  .container-gallery {
    margin-left: 0;
    margin-right: 0;
  }
}
.container_logo {
  /* max-width: 1024px; */
  max-width: auto;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__height__contact {
  height: max-content;
}

.section__height__menu {
  height: max-content;
}

.section__height__events {
  height: max-content;
}

.section__height_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

.parallax-image {
  background-image: url("bg_hero.jpg");
  background-color: #000;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  position: relative;
  animation: fadeIn 2s ease-in-out; /* add this line */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.parallax-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.parallax-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.contact-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fff;
}
.menu-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 50px;
}

.events-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

/*=============== HEADER Y NAV ===============*/
.nav {
  background-color: var(--container-color-dark);
  padding-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.nav__shape {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-shape);
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: -2rem;
  filter: blur(90px);
}

.nav__close {
  position: relative;
  display: inline-flex;
  font-size: 1.8rem;
  color: var(--text-color-dark);
  cursor: pointer;
  margin-bottom: 3.5rem;
}

.nav__img {
  width: 120px;
  display: flex;
  margin-bottom: 30px;
}

.nav__mask {
  width: 120px;
  height: 100px;
  background: linear-gradient(224deg, #a22fe9 -2%, #ddaafe 97%);
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.nav__data {
  position: relative;
  margin-bottom: 3rem;
}

.nav__greeting {
  display: block;
  color: var(--text-color-dark);
  font-size: var(--small-font-size);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.nav__name {
  color: var(--title-color-dark);
  font-size: var(--big-font-size);
  line-height: 130%;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--text-color-dark);
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  transition: 0.3s;
}

.nav__link i {
  font-size: 1.15rem;
}

.nav__menu {
  margin-left: 2rem;
  display: inherit;
}

.nav__link:hover {
  color: var(--title-color-dark);
}

.main {
  position: relative;
  background-color: var(--body-color);
  transition: 0.4s;
}

.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.header__link {
  display: flex;
  align-items: center; /* vertically center the contents */
  justify-content: center; /* horizontally center the contents */
  text-decoration: none;
  color: inherit; /* inherit the text color from the parent element */
}

.header_e {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo,
.header__toggle {
  color: var(--title-color);
}

.header__toggle {
  font-size: 1.15rem;
  cursor: pointer;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  max-width: 100%;
  max-height: var(--header-height);
  width: auto;
  height: auto;
  margin-right: 10px;
}

.header__text {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.btn--jump {
  animation: 0.6s jump ease infinite alternate;
}

@keyframes jump {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

/* Show menu */
.show-menu {
  transform: translate(50%);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.2);
}

/* Active link */
.active-link {
  color: var(--title-color-dark);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .show-menu {
    transform: translate(30%);
  }
}

/* For large devices  */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
  .section {
    padding: 7rem 0 5rem;
  }
  .header__nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__shape {
    width: 350px;
    height: 350px;
  }
  .nav__mask {
    width: 100px;
    height: 100px;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  .nav__img {
    width: 90px;
  }
  .nav__link {
    font-size: var(--normal-font-size);
  }
  .nav__link i {
    font-size: 1.25rem;
  }
}

/*======== Section Nav ========*/
.concept-quote {
  z-index: 3;
  position: relative;
  overflow: hidden;
  width: 0;
  transition: width 0.5s ease;
}
.concept-quote.show {
  width: 400px; /* adjust the width to your liking */
}
blockquote {
  border-right: 4px solid #ffffff;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  z-index: 3;
}

blockquote p {
  color: #fff;
  font-size: x-large;
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.concept-quote h1 {
  color: #fff;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}

.logo_image {
  padding-bottom: 10px;
  margin: auto;
  height: auto;
  width: auto;
  position: relative; /* add this */
  z-index: 2; /* make sure it's on top of the overlay */
  transition: margin-left 0.5s ease;
}

.logo_image.pushed {
  margin-left: 100px; /* adjust the margin to your liking */
}

@media screen and (max-width: 800px) {
  .concept-quote {
    width: 100%;
    text-align: right;
  }

  .logo_image {
    margin: 20px auto;
    text-align: center;
  }

  .logo_image.pushed {
    margin-left: 10px;
  }
}

@media screen and (max-width: 700px) {
  .concept-quote {
    width: 100%;
    text-align: right;
  }

  .logo_image {
    margin: 20px auto;
    text-align: center;
  }

  .logo_image.pushed {
    margin-left: -1px;
  }

  blockquote p {
    font-size: large;
  }
}

/* Chevron */
.chevron-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.chevron-down:hover {
  transform: translateY(-5px);
}

/* about us */

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  flex-basis: 50%;
  margin-right: 20px;
}

.image {
  flex-basis: 40%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.text p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* THIS IS THE REVIEW */
.review-container {
  display: flex;
  flex-wrap: nowrap;
}

.card {
  padding: 24px;
  /* align-content: flex-end; */
  /* border-radius: 0 0 2px 2px; */
  /* margin: 0 auto; */
  max-width: 300px;
  margin: 10px;
  margin-top: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  width: revert;
}

.review-user,
.review-date {
  display: inline-block;
  margin-top: -10px;
}

.review-content {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.user-data {
  width: 250px;
  position: absolute;
  display: none;
  border: 1px solid #ccc;
}

.profile img {
  width: 80px;
  height: 80px;
}

.profile-username {
  display: inline-block !important;
  vertical-align: top;
  font-size: 18px;
}

@media (max-width: 768px) {
  .review-container {
    flex-wrap: wrap;
  }
  .card {
    max-width: 100%;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .review-container {
    flex-direction: column;
  }
  .card {
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .review-content {
    font-size: 14px;
    line-height: 1.3;
  }
  .profile-username {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .review-content {
    font-size: 12px;
    line-height: 1.2;
  }
  .profile-username {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .review-container {
    flex-wrap: wrap;
  }
  .card {
    max-width: 100%;
    margin: 5px;
    padding: 10px;
  }
  .review-header {
    font-size: 14px;
  }
  .review-summary {
    font-size: 12px;
  }
  .review-content {
    font-size: 10px;
  }
  .user-data {
    width: 100%;
  }
  .profile img {
    width: 30px;
    height: 30px;
  }
  .profile-username {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .review-container {
    flex-direction: column;
  }
  .card {
    margin: 5px 0;
    padding: 8px;
  }
  .review-header {
    font-size: 12px;
  }
  .review-summary {
    font-size: 10px;
  }
  .review-content {
    font-size: 8px;
  }
  .user-data {
    width: 100%;
  }
  .profile img {
    width: 20px;
    height: 20px;
  }
  .profile-username {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .review-container {
    flex-direction: column;
  }
  .card {
    margin: 3px 0;
    padding: 6px;
  }
  .review-header {
    font-size: 10px;
  }
  .review-summary {
    font-size: 8px;
  }
  .review-content {
    font-size: 6px;
  }
  .user-data {
    width: 100%;
  }
  .profile img {
    width: 15px;
    height: 15px;
  }
  .profile-username {
    font-size: 8px;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;

  /* button */

  .link {
    font-family: "Rubik", sans-serif;
    background-color: transparent;
    font-size: 28px;
    letter-spacing: 2px;
    color: #4c6082;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 0;
    padding-left: 20px;
    left: 0;
    line-height: auto;
    overflow: hidden;

    /*line*/
    &:before {
      content: "";
      background-color: #f38181;
      width: 3px;
      height: 100%;
      position: absolute;
      z-index: 2;
      left: 0px;
      top: 0px;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }
    /*arrow*/
    &:after {
      content: "";
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      background-color: transparent;
      position: absolute;
      border: solid 3px #f38181;
      border-left: 0;
      border-bottom: 0;
      top: calc(50% - 9px);
      border-radius: 2px;
      transform: translateX(-42px) rotate(45deg);
      transition: all 0.3s 0.2s ease-in-out;
    }
  }
  /* bg button */
  &:before {
    content: "";
    background-color: white;
    width: 0;
    height: inherit;
    position: absolute;
    right: 0;
    top: 0px;
    border-radius: 3px;
    transition: all 0.4s 0.3s ease-in-out;
  }
  &:hover {
    &:before {
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0px;
    }

    .link {
      padding-left: 50px;

      &:before {
        left: 17px;

        transform: rotate(90deg);
      }

      &:after {
        transform: translate(-33px) rotate(45deg);
      }
    }
  }
}

/* THIS IS THE IMAGE GALLERY */
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  margin-bottom: 20px;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  position: relative; /* add this to make the title and subtitle absolute */
}

.item:hover {
  flex: 7;
}

.item-1 {
  background-image: url("Food1.jpg");
}

.item-2 {
  background-image: url("Food2.jpg");
}

.item-3 {
  background-image: url("Food3.jpg");
}

/* add styles for title and subtitle */
.item .item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.item h2 {
  font-size: 24px;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.item h4 {
  font-size: 18px;
  margin-top: 0;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-left: 20px;
}
.item-clickable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* make sure it's on top of the other elements */
}

.item:hover {
  flex: 7;
}

/* MARQUEE */

marquee {
  font-weight: bold;
  font-family: sans-serif;
  font-size: large;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  background-color: #242424;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer-image {
  width: auto;
  height: 30px;
  margin-left: 20px;
}

.sociallinks {
  margin-top: 0;
  text-align: left;
}

.sociallinks ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
}

.sociallinks ul li {
  list-style: none;
  margin-right: 20px;
}

.sociallinks ul li a {
  display: block;
  position: relative;
  width: 20px;
  height: auto;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}
.sociallinks ul li a span {
  position: absolute;
  transition: transform 0.5s;
}
.sociallinks ul li a span:nth-child(1),
.sociallinks ul li a span:nth-child(3) {
  width: 100%;
  height: 3px;
  background: #404040;
}
.sociallinks ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
.sociallinks ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.sociallinks ul li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.sociallinks ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.sociallinks ul li a span:nth-child(2),
ul li a span:nth-child(4) {
  width: 3px;
  height: 100%;
  background: #404040;
}
.sociallinks ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}
.sociallinks ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}
.sociallinks ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
.sociallinks ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.facebook:hover {
  color: #3b5998;
}
.facebook:hover span {
  background: #3b5998;
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span {
  background: #c32aa3;
}
.google:hover {
  color: #dd4b39;
}
.google:hover span {
  background: #dd4b39;
}
ul li a .twitter {
  color: #1da1f2;
}
ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
ul li a:hover:nth-child(4) {
  color: #dd4b39;
}

/* Contact form */

.contactform {
  font-family: "Lato", sans-serif;
  background: #ffff;
  color: #b3aca7;
}

.contactus {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

.restaurant-info {
  position: relative;
  width: 400px;
  margin: 50px auto 100px 10px;
}

.address {
  padding-bottom: 20px;
  margin-top: 10px;
}

.map-and-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.telfax {
  padding-bottom: 20px;
}

.map-and-form iframe {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px auto;
}

.map-and-form form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .map-and-form {
    justify-content: center;
  }
  .map-and-form iframe {
    width: 40%;
    margin-right: 20px;
  }

  .map-and-form form {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .contactus {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 80%;
    text-align: center;
    letter-spacing: 7px;
  }
}
/*--------------------------------
Menu Page
-----------------------------------*/

.menu-section {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 1200px;
  padding-top: 100px;
}

.menu-list {
  float: left;
  width: 30%;
  margin-right: 10px;
  padding-bottom: 50px;
}

.page-template-menu-template .interior-cta-background {
  display: inline-block;
  width: 100%;
  background: #ccc;
  text-align: center;
  margin-top: -114px;
  padding: 150px 30px;
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
  background-position: center center;
}

.page-template-menu-template .site-header li a {
  color: #fff;
}

.menu-list hr {
  margin: 36px 0;
}

.menu-list span.dots {
  position: absolute;
  top: 17px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  border: 0;
  height: 3px;
  display: block;
  background-image: radial-gradient(
    circle closest-side,
    #b3b3b3 99%,
    transparent 1%
  );
  background-position: bottom;
  background-size: 6px 3px;
  background-repeat: repeat-x;
}

.menu-list__title {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.85px;
  font-weight: 600;
}

.menu-list__item {
  position: relative;
  margin-bottom: 30px;
  list-style: none;
}

.menu-list__item:last-child {
  margin-bottom: 0;
}

.menu-list__item-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 5px;
  padding-right: 96px;
  text-align: left;
  letter-spacing: 1.25px;
}

.menu-list__item-title .item_title {
  position: relative;
  z-index: 5;
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

p.menu-list__item-desc {
  position: relative;
  margin-bottom: 0;
  text-align: left;
}

p.menu-list__item-desc + span.dots {
  display: none;
}

.desc__content {
  position: relative;
  z-index: 5;
  background-color: white;
}

.menu-list__item-price {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 96px;
  background-color: white;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.27316;
  font-weight: bold;
  /* font-size: 15px; */
}

.menu-list__item-price p {
  color: #e3b379;
  font-size: 17px;
  font-family: "Source Sans Pro", Arial;
}

.menu-list__item-highlight-title {
  position: absolute;
  top: -38px;
  left: -18px;
  padding: 0 18px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: white;
  background-color: #c59d5f;
}

.menu-list__item-highlight-wrapper {
  margin-top: 54px;
  margin-bottom: 38px;
}

.menu-list__item-highlight-wrapper:before {
  content: "";
  position: absolute;
  top: -18px;
  left: -18px;
  right: -18px;
  bottom: -18px;
  border: 2px solid #c59d5f;
}

@media (max-width: 1000px) {
  .menu-list {
    display: block;
    margin: 0 auto;
    float: none;
    width: 100%;
    max-width: 95%;
  }
}

/* Events page */
.event_section {
  font-family: "Calibri", sans-serif;
  padding: 100px;
}

.event_section h1 {
  font-size: 36px !important;
  line-height: 42px !important;
  margin-bottom: 0;
}

.event_section h2 {
  font-size: 30px !important;
  line-height: 36px !important;
}

.purple-btn,
.purple-background {
  background-color: rgb(100, 0, 170);
}

.purple-btn:hover {
  background-color: rgb(70, 0, 120);
}

.magenta-btn,
.magenta-background {
  background-color: rgb(230, 0, 80);
}

.magenta-btn:hover {
  background-color: rgb(170, 0, 60);
}

.blue-btn,
.blue-background {
  background-color: rgb(0, 170, 220);
}

.blue-btn:hover {
  background-color: rgb(0, 120, 160);
}

.green-btn,
.green-background {
  background-color: rgb(80, 175, 80);
}

.green-btn:hover {
  background-color: rgb(55, 147, 55);
}

.yellow-btn,
.yellow-background {
  background-color: rgb(255, 220, 0);
}

.yellow-btn:hover {
  background-color: rgb(224, 192, 0);
}

.dark-grey-btn,
.dark-grey-background {
  background-color: rgb(51, 51, 51);
}

.dark-grey-btn:hover {
  background-color: rgb(35, 35, 35);
}

.medium-grey-btn,
.medium-grey-background {
  background-color: rgb(102, 102, 102);
}

.medium-grey-btn:hover {
  background-color: rgb(70, 70, 70);
}

.light-grey-btn,
.light-grey-background {
  background-color: rgb(221, 221, 221);
}

.light-grey-btn:hover {
  background-color: rgb(178, 178, 178);
}

.red-btn,
.red-background {
  background-color: #7a0002;
}

.red-btn:hover {
  background-color: rgb(186, 0, 16);
}

.purple_secondary_btn {
  background-color: white;
  border: thin solid rgb(100, 0, 170) !important;
  color: rgb(100, 0, 170) !important;
}

.purple_secondary_btn:hover {
  background-color: rgb(100, 0, 170);
  color: white !important;
}

.magenta_secondary_btn {
  background-color: white;
  border: thin solid rgb(230, 0, 80) !important;
  color: rgb(230, 0, 80) !important;
}

.magenta_secondary_btn:hover {
  background-color: rgb(230, 0, 80);
  color: white !important;
}

/* [ button ] */

.more-info-btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100 !important;
  border-radius: 5px;
  transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -wekbkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
}

.more-info-btn:hover {
  text-decoration: none !important;
}

.more-info-btn span {
  display: inline-block;
  margin-left: 10px;
  transform: translateY(0.5px) !important;
}

.purple_secondary_btn span,
.magenta_secondary_btn span,
.text_link span {
  display: inline-block;
  margin-left: 10px;
  transform: translateY(0.5px) !important;
}

.white-text {
  color: white !important;
}

.blue-text {
  color: rgb(0, 170, 220) !important;
}

.purple-text {
  color: rgb(100, 0, 170) !important;
}

.grey-text {
  color: rgb(51, 51, 51) !important;
}

.magenta-text {
  color: rgb(230, 0, 80) !important;
}

.green-text {
  color: rgb(80, 175, 80) !important;
}

/* video container */

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*[use with HTML5 video tags + the above video class for the src]*/

.video_container {
  position: relative;
  width: 100%;
}

.value {
  font-size: 6em;
  position: relative;
  top: 22px;
  font-weight: bold;
}

/* === intro panels === */

.intro-panel,
.video-panel {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  height: auto;
  width: 100%;
}

.intro-panel img {
  width: 100%;
  position: relative;
}

.intro-panel > .copy-container,
.video-panel > .copy-container {
  position: absolute;
  background-color: #6400aa;
  padding: 20px;
  height: auto;
  bottom: 0;
  width: 40%;
  z-index: 1;
}

.copy-container p {
  font-size: 16px;
  line-height: 22px;
}

.copy-block-container {
  padding: 5px;
  margin-bottom: 10px;
}

.tile_wrapper {
  box-sizing: border-box;
  overflow: hidden;
}

.event {
  position: relative;
  overflow: hidden;
  float: left;
  width: 24%;
  margin-right: 1%;
  border: thin solid #dddddd;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 1%;
  transition: all, 500ms;
  height: 270px;
}

.event:hover {
  border-color: #7a0002;
}

.tile_wrapper:nth-child(4n) {
  margin-right: 0;
}

.event h3 {
  text-align: right;
}

.showModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.showModal span {
  visibility: hidden;
}

.festivalDetails p {
  margin: 0 0 2px 0 !important;
}

#reset_search p {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  width: 160px;
  text-align: center;
}

#reset_search p:hover {
  cursor: pointer;
}

.combine {
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .event {
    width: 48%;
    margin-right: 2%;
    padding: 10px 5px;
  }
  .event h3 {
    text-align: left;
    margin-top: 0;
  }
  .event p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }
}

/* For screens smaller than 480px (e.g. smaller mobile devices) */
@media only screen and (max-width: 480px) {
  .event {
    width: 100%;
    margin-right: 0;
    padding: 10px 10px;
  }
  .event h3 {
    font-size: 16px;
  }
  .event p {
    font-size: 12px;
  }
}

/*============================
==============================
==============================
======== MODAL POP UP ========
==============================
==============================
============================*/

.modal {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.397);
  overflow-y: auto;
}

.modalWrapper {
  height: 100%;
  width: 100%;
  display: table;
}

.modalContent {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 100%;
}

.modalBox {
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 50px;
  background-color: white;
  width: 600px;
  border-radius: 5px;
}

.noBackground {
  background-color: transparent !important;
}

.modalInfo {
  max-width: 500px;
  width: 100%;
}

.modalInfo img {
  max-width: 100%;
  height: auto;
}

.modalInfoCopy {
  margin: 10px 0;
}

/* THIS WAS THE X BUTTON FOR THE EVENTS PAGE */
/* .closeModal {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 10%;
    right: 2%;
    transform: rotate(45deg);
}
	
.closeModal:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.7);
}
	
.closeModal:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.7);
} */

.modal.active .modalWrapper .modalContent .closeModal:hover {
  cursor: pointer;
}

.modal.active .modalWrapper .modalContent .closeModal::before,
.modal.active .modalWrapper .modalContent .closeModal::after {
  background: rgba(255, 255, 255, 1);
}

.modal.active .modalWrapper .modalContent .closeModal::before {
  transition: 0.25s 0.5s ease-in-out;
  height: 100%;
}

.modal.active .modalWrapper .modalContent .closeModal::after {
  transition: 0.25s 0.25s ease-in-out;
  width: 100%;
}

.modal.active {
  z-index: 1;
  left: 0%;
  animation: fadeIn 0.25s ease-in-out;
}

/* For screens smaller than 768px (e.g. tablets and mobile devices) */
@media only screen and (max-width: 768px) {
  .modalBox {
    padding: 30px;
  }
}

/* For screens smaller than 480px (e.g. smaller mobile devices) */
@media only screen and (max-width: 480px) {
  .modalBox {
    width: 90%;
    padding: 5px;
  }
}

